{% extends 'base.html' %} 

{% block content %}

<h3>New article</h3>
<hr />



<form
    action="{% url 'polls:article-create' %}"
    method="post"
    enctype="multipart/form-data"   
>
    {% csrf_token %}

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control {% if form.name.errors %} is-invalid {% endif %}" name="name">
        {% if form.name.errors %}
            <div class="invalid-feedback">{{ form.name.errors.0 }}</div>
        {% endif %}
    </div>
    

    {% comment %} {% for field in form %}
        {{ field.name }}

        {{ field }}


        {{ field.errors.email }}
    {% endfor %} {% endcomment %}
    {% comment %} <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label"
            >Description</label
        >
        <div class="col-sm-10">
            <textarea rows="3" class="form-control" name="description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="price" value="0.00" step="0.01"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label"
            >Image</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="image" />
        </div>
    </div>
    <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label"
            >Category</label>
        <div class="col-sm-10">
            <select class="form-control" name="category_id">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 offset-sm-2">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
        <div class="col-sm-6 text-right"> 
            <a href="{% url 'polls:article-list' %}" class="btn btn-danger">
                Cancel
            </a>
        </div>
    </div> {% endcomment %}

     <button type="submit" class="btn btn-primary">
        Save
    </button>
</form>

{% endblock %}
