{% extends 'base.html' %} {% block content %}

<div class="text-center">
    <h1>Delete article</h1>
    <hr />

    <div class="jumbotron">
        <h1 class="display-4">Are you sure!</h1>
        <p class="lead">
            Are you sure you want to delete the selected article?
        </p>
        <hr class="my-4" />
        <p>
            All of the following objects and their related items will be deleted: 
            <li>{{ article.name }}</li>     
        </p>
        <p class="lead">
            <a class="btn btn-info" href="#" role="button">Accept</a>
            <a class="btn btn-danger" href="{% url 'polls:article-list' %}" role="button">Cancel</a>
        </p>
    </div>
</div>

{% endblock %}
