{% extends 'base.html' %} {% block content %}
<h3>Article List</h3>
<hr />
<form class="form-inline row">
    <!-- <div class="input-group col-sm-6 mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Name"
        />
    </div>

    <div class="form-check col-sm-4 mb-3">
        <input class="form-check-input" type="checkbox" id="inlineFormCheck" />
        <label class="form-check-label" for="inlineFormCheck">
            Remember me
        </label>
    </div> -->

    <div class="col-sm-12 mb-3 text-right">
        <a href="{% url 'polls:article-create' %}"class="btn btn-primary">New</a>
    </div>
</form>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <img
                    style="width: 20px; height: 20px;"
                    src="{{ article.image.url }}"
                    class="img-thumbnail"
                />
            </td>
            <td>{{ article.name }}</td>
            <td>{{ article.description }}</td>
            <td>$ {{ article.price }}</td>
            <td>{{ article.category.name }}</td>
            <td>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'polls:article-delete' article.id %}" class="far fa-trash-alt text-danger"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'polls:article-edit' article.id %}" class="fas fa-pencil-alt text-primary"></a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

{% endblock %}
